.task-item{

    height: 30px;
    width: max-content;
}

.task-card-background{
    display: block;
width: max-content;
    background-color: aquamarine;
}


.list-view{
    height: 50vh;
    overflow:hidden;
     overflow-y:scroll;
}